<div class="col-lg-3">
    <h1 class="my-4"><%= pageName %></h1>
    <div class="list-group">
        <a href="/index" class="list-group-item">Fruits</a>
        <a href="/category2" class="list-group-item">Vegetables</a>
        <a href="/category3" class="list-group-item">Specialtys</a>
        <a href="/category4" class="list-group-item">Nuts</a>
    </div>
</div>
<!-- /.col-lg-3 -->


<!--style-->
<style>




</style>